h1{
    font-size:50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline double;
}

p{
    font-size: large;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
}