h1{
    font-size:50px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-weight:bolder;
    font-size: 50px;
    }

.greeting{
    text-align: center;
}

button {
    margin-top: 15px;
}

button>a {
    background-color: rgb(253, 3, 3);
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    border-radius: 3px;
    

}

a:hover {
    background-color: #686868;
    color: white;
    cursor: pointer;
}

p{
    text-align: center;
}
