h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
}

h2 {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 3%;
}

.special-request {
    margin-top: 3%;
    margin-bottom: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.request {
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
}

.greeting {
    align-items: center;
}

button {
    margin-top: 15px;
}

button>a {
    background-color: rgb(253, 3, 3);
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    border-radius: 3px;


}

.go:hover {
    background-color: #686868;
    color: white;
    cursor: pointer;
}