* {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(181, 181, 171, 1) 51%, rgba(181, 181, 171, 1) 99%);
}

main {
    background-color: #ffffff;
    width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px #000000;
}